@font-face{
    font-family: Raleway;
    src: url(../src/additional/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: WorkSans;
    src: url(../src/additional/WorkSans-VariableFont_wght.ttf);
}
body{
    margin: 0;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
    font-family: Raleway;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #7A9E9F;
    height: 100%;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}
.header > img{
    width: 3rem;
}
.hero{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
}
.sidebar{
    box-sizing: border-box;
    background-color: #EFF1F3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    width: 100%;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
button{
    box-sizing: border-box;
    background-color: white;
    color: #4F6367;
    border: 3px solid #F2F4F3;
    height: 2.5rem;
    font-family: WorkSans;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button:hover{
    border: 3px solid #7A9E9F;
    transition: 0.5s;
}
.top{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4F6367;
    align-items: center;
}
.author{
    color: #4F6367;
    text-align: center;
}
.author > p > a{
    text-decoration: none;
    color: #009FB7;
}
.projectSelect{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}
#addBtn{
    border-radius: 10px;
    width: 65px;
    height: 35px;
}
.popup{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    background-color: #EFF1F3;
    border: 1px solid #7A9E9F;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color: #4F6367;
}
.popupTodos{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    height: 550px;
    background-color: #EFF1F3;
    border: 1px solid #7A9E9F;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color: #4F6367;
}
textarea{
    resize: none;
    height: 100px;
}
.popup > p, .popupTodos > p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
.control{
    display: flex;
    justify-content: space-between;
}
.control > button{
    width: 45%;
    border: 1px solid #7A9E9F;
}
.closeBtn{
    background-color: #F45B69;
}
#createBtn, #confirmBtn{
    background-color: #8FDC97;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input, select{
    border: 1px solid #7A9E9F;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.projectCard{
    display: grid;
    grid-template-columns: 80% 20%;
}
#addTodos{
    display: none;
    position: absolute;
    background-color: #7A9E9F;
    color: #EFF1F3;
    font-size: 2rem;
    width: 300px;
    height: 50px;
    top: 90%;
    left: 78%;
}
#addTodos:hover{
    border: 3px solid #4F6367;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: #4F6367;
}
.container > h1{
    margin: 0;
}
.card{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 75% 10% 10%;
    align-items: center;
    gap: 1rem;
    background-color: #EFF1F3;
    border-radius: 10px;
    padding: 1rem;
}
.card > p {
    margin: 0;
}
.cardTitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    text-decoration-line: underline;
}
.todo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#done{
    height: 80px;
    accent-color: #7A9E9F;
    color: white;

}
#remove{
    height: 85px;
    font-size: 4rem;
    width: 95px;
}